:root {
  /* hsl color space */
  --clr-primary-400: 218, 45%, 50%;
  --clr-primary-700: 218, 45%, 22%;

  --clr-secondary-400: 0, 93%, 49%;

  --clr-neutral-100: 0, 0%, 100%;

  --ff-primary: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px dotted hsl(var(--clr-primary-700));
  outline-offset: 0.25em;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: hsl(var(--clr-primary-700));
}

img,
svg {
  max-width: 100%;
  display: block;
}

input,
textarea,
button {
  font: inherit;
}

header {
  padding: 2em 1em;
  border-bottom: 2px solid hsl(var(--clr-primary-700));
  box-shadow: 0 7px 10px hsla(0, 0%, 0%, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo__img {
  width: 1.5rem;
}

.logo__title {
  font-size: 2rem;
  font-weight: var(--fw-semi-bold);
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.modal {
  min-width: 250px;
  text-align: center;
  color: inherit; /* inherit body color */
  padding: 1.5em;
  border: 2px solid hsl(var(--clr-primary-400));
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal::backdrop {
  background: hsla(0, 0%, 0%, 0.5);
}

.welcome-screen__title {
  line-height: 1;
}

.welcome-screen__markers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.75rem;
}

.game-board {
  --size: 300px;
  --cell-border-thickness: 2px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* hide outer borders of cells */
  outline: var(--cell-border-thickness) solid hsla(var(--clr-neutral-100)); /* has to be same color as background */
  outline-offset: calc(0px - var(--cell-border-thickness));
}

.game-board__cell {
  background-color: transparent;
  padding: 0;
  border: var(--cell-border-thickness) solid hsl(var(--clr-primary-700));
}

.game-board__cell:hover {
  cursor: pointer;
}

.marker {
  --marker-size: 2.5rem;
  --marker-thickness: 8.5px;
  --marker-color: hsl(var(--clr-primary-700));
  /* position ::before and ::after in center */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--marker-size);
  height: var(--marker-size);
  position: relative;
  opacity: 0.5;
  transition: transform 200ms ease;
}

.marker:hover,
.marker:checked {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.marker:active {
  transform: scale(1);
}

.marker::before,
.marker::after {
  content: "";
  width: 100%;
  position: absolute;
}

.marker--cross::before,
.marker--cross::after {
  height: var(--marker-thickness);
  background-color: var(--marker-color);
  border: 1px solid hsl(var(--clr-primary-700));
  border-radius: var(--marker-thickness);
}

.marker--cross:hover::before,
.marker--cross:hover::after,
.marker--cross:checked:before,
.marker--cross:checked:after {
  --marker-color: hsl(var(--clr-secondary-400));
}

.marker--cross::before {
  transform: rotate(45deg);
}

.marker--cross::after {
  transform: rotate(135deg);
}

.marker--circle::before,
.marker--circle::after {
  height: 100%;
  border-radius: 50%;
}

.marker--circle::before {
  border: var(--marker-thickness) solid var(--marker-color);
  outline: 1px solid hsl(var(--clr-primary-700));
}

.marker--circle::after {
  /* for the inner outline */
  outline: 1px solid hsl(var(--clr-primary-700));
  outline-offset: calc(0px - (var(--marker-thickness) + 1px));
}

.marker--circle:hover::before,
.marker--circle:checked:before {
  --marker-color: hsl(var(--clr-primary-400));
}

.marker--radio {
  appearance: none;
  margin: 0;
}

.btn--primary {
  padding: 0.75em 1.75em;
  background-color: hsl(var(--clr-primary-400));
  color: hsla(var(--clr-neutral-100));
  font-weight: var(--fw-semi-bold);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.1);
  transition: transform 200ms ease;
  margin-top: 1.5rem;
}

.btn--primary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn--primary:active {
  transform: scale(0.97);
  box-shadow: none;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
